<template>
  
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="image"><img :src="usuario.logo" alt="Logo" class="img-responsive center-block"></div>
      </div>
    </div>
  
</template>

<script>
/* global localStorage */
export default {

  data () {
    return {
      usuario: {}
    }
  },
  mounted () {
    this.usuario = JSON.parse(localStorage.usuario)
  }
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
</style>
