<template>
    <article class="container">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="box">
              <div class="card-content">
                <form :action="logar">
                  <h1 class="title has-text-centered">
                    <img src="~assets/logoLs.png">
                  </h1>
                  <div class="notification is-warning has-text-centered" v-if="response">
                        {{response}}
                  </div>
                  <p class="control">
                   <span class="select full-width">
                     <select v-model="selected" class="input full-width">
                       <option class="full-width" v-for="filial in filiais" v-bind:value="filial.id" >
                         {{ filial.identif }}
                       </option>
                     </select>
                   </span>
                 </p>
                  <p class="control has-icon">
                    <input class="input" type="text" placeholder="Usuario" v-model="usuario">
                    <i class="fa fa-lock"></i>
                  </p>
                  <p class="control has-icon">
                    <input class="input" type="password" placeholder="Senha" v-model="senha">
                    <i class="fa fa-lock"></i>
                  </p>
                  <p class="control">
                    <button class="button is-info is-medium is-fullwidth" @keyup.enter="submit" @click.prevent="logar()">
                      <i class="fa fa-user"></i>
                      Login
                    </button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
    </article>
</template>
<script>
/* global localStorage */
/* global _ */
  import config from '../config'

  export default {
    // components: {
    // },
    data () {
      return {
        section: 'Login',
        selected: '',
        usuario: '',
        filiais: '',
        senha: '',
        response: ''
      }
    },
    methods: {
      logar () {
        const vue = this

        let data = {
          usuario: vue.usuario,
          senha: vue.senha,
          filial_id: vue.selected
        }
        vue.$http.post(config.API + 'auth', data).then((response) => {
          if (localStorage.getItem('usuario')) {
            localStorage.removeItem('usuario')
          }

          this.$router.options.routes.forEach(function (route) {
            _.map(response.data.acessos, function (value, index) {
              if (route.tabela === index && value === true) {
                route.acesso = true
              }
            })
          })

          localStorage.setItem('acessos', JSON.stringify(response.data.acessos))
          localStorage.setItem('usuario', JSON.stringify(response.data))
          localStorage.setItem('filiais', JSON.stringify(vue.filiais))

          delete response.data.acessos
          this.$router.push('/')
        }, (response) => {
          vue.response = response.data.message
        })
      },
      getEmpresa () {
        const vue = this
        vue.$http.get(config.API + 'empresa').then((response) => {
          response.data.filiais.forEach(function (filial) {
            if (filial.id === 1) {
              vue.selected = filial.id
            }
          })

          if (vue.selected) {
            vue.filiais = response.data.filiais
          }
        }, (response) => {
          window.location.href = 'http://lstechnologies.com.br/'
        })
      }
    },
    mounted () {
      this.getEmpresa()
    },
    computed: {
    }
  }
</script>
<style scoped>
  .container{
    top:25%;
  }
  @media screen and (min-width: 768px) {
    .column{
      margin-left: 200px;
    }
  }

  .is-centered {
    justify-content: center;
  }
  .full-width {
    display: block;
  }
</style>
