<template>
  <div class="is-fullwidth">
    <section class="content">
       <div class="columns">
        <div class="column is-7">
          <div class="card is-fullwidth">
            <header class="card-header">
                <p class="card-header-title">
                  Filiais
                </p>
                <label class="card-header-icon">
                  <span class="icon">
                    <i class="fa fa-building"></i>
                  </span>
                </label>
            </header>
            <div class="card-content">
              <div class="content" style="overflow-x:auto;">
                <table class="table is-striped">
                  <tbody>
                      <tr>
                        <th style="width: 60px"><label for="">Del</label><div class="pull-right"><input type="checkbox" v-model="todasFiliais"></div></th>
                        <th>Identificação</th>
                        <th>Código</th>
                        <th>Razão Social </th>
                        <th>CNPJ</th>
                      </tr>
                      <tr v-for="filial in filiais">
                        <td><input type="checkbox" v-model="filial.selecionado"></td>
                        <td>{{ filial.identif }}</td>
                        <td>{{ filial.id }}</td>
                        <td>{{ filial.razao }}</td>
                        <td>{{ filial.cnpj }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-5">
          <div class="card is-fullwidth">
            <header class="card-header">
              <p class="card-header-title">
                Período de Consulta ( Faturamento )
              </p>
              <label class="card-header-icon">
                <span class="icon">
                  <i class="fa fa-calendar"></i>
                </span>
              </label>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="columns">
                  <div class="column is-half">
                      <div class="text-center"><label for="">De</label></div>
                      <p class="control has-addons has-addons-left">
                        <a class="button is-brand">
                          <i class="fa fa-calendar"></i>
                        </a>
                        <input type="date" class="input" v-model="data_ini">
                      </p>
                  </div>
                  <div class="column is-half">
                    <div class="text-center"><label for="">Até</label></div>
                      <p class="control has-addons has-addons-left">
                        <a class="button is-brand">
                          <i class="fa fa-calendar"></i>
                        </a>
                        <input type="date" class="input" v-model="data_fim">
                      </p>
                  </div>
                </div>
              </div>
              <div class="column">
                <fieldset>
                  <legend>Período</legend>
                  <div class="columns">
                    <div class="column">
                      <label for="Caixa">Caixa <i>(Movimento)</i></label>
                      <div class="text-center"><input type="radio" id="tipo_periodo" name="tipoPeriodo" value="1" v-model="tipoPeriodo"></div>
                    </div>
                    <div class="column">
                      <label for="Compêtencia">Compêtencia <i>(Movimento)</i></label>
                      <div class="text-center"><input type="radio" id="competencia" name="tipoPeriodo" value="2" v-model="tipoPeriodo"></div>
                    </div>
                    <div class="column">
                      <label for="Inclusão">Inclusão</label>
                      <div class="text-center"><input type="radio" id="inclusao" name="tipoPeriodo" value="3" v-model="tipoPeriodo"></div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <footer class="card-footer">
               <a class="card-footer-item" href="#grafico" @click.prevent="loadData">Gerar Tabela &nbsp<i class="fa fa-table"></i></a>
            </footer>
          </div>
        </div>
      </div>
    <br>
      <div class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">
            Informações de Faturamento
          </p>
          <label class="card-header-icon">
            <span class="icon">
              <i class="fa fa-info"></i>
            </span>
          </label>
        </header>
        <div class="card-content">
          <div class="content">
            <div style="overflow-x:auto;">
        <table class="table table-bordered table-striped dataTable" id="table" >
          <thead>
            <tr role="row">
              <th></th>
              <th v-for="head in thead" v-if="head.visible">{{ head.nome }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(r,index) in receber">
              <td>
              <div class="text-center"><i  v-show="r.loading" class="fa fa-spinner fa-spin fa-2x"></i></div>
                <div class="text-center" v-show="!r.loading">
                  <a href="javascript:void('')" @click.prevent="loadDetalheReceber(r, index)">
                    <i title="Ver detalhes" v-bind:class="[r.centro ? 'fa fa-plus-circle fa-2x' : 'fa fa-circle-o']"></i>
                  </a>
                </div>
              </td>
              <td>{{ r.centro }}</td>
              <td>{{ r.custo }}</td>
              <td><div class="text-center">{{ r.reg }}</div></td>
              <td><div class="pull-right">{{ r.valor | currency }}</div></td>
              <td><div class="text-center">{{ r.razao }}</div></td>
              <td><div class="text-center">{{ r.vcto | ddmmyyyy }}</div></td>
              <td><div class="pull-right">{{ r.perc | percent}}</div></td>
            </tr>
            <tr v-for="(p, index) in pagar" v-show="!p.hide">
              <td>
                <div class="text-center"><i  v-show="p.loading" class="fa fa-spinner fa-spin fa-2x"></i></div>
                <div v-show="!p.loading" class="text-center">
                  <a href="javascript:void('')" @click.prevent="loadDetalhePagar(p, index)">
                   <i title="Ver detalhes" v-bind:class="[p.id_custo ? 'fa fa-plus-circle fa-2x' : 'fa fa-circle-o']"></i>
                  </a>
                </div>
              </td>
              <td>{{ p.centro }}</td>
              <td>{{ p.custo }}</td>
              <td><div class="text-center">{{ p.reg }}</div></td>
              <td style="color: red"><div class="pull-right">- {{ p.valor | currency }}</div></td>
              <td><div class="text-center">{{ p.razao }}</div></td>
              <td><div class="text-center">{{ p.vcto | ddmmyyyy }}</div></td>
              <td><div class="pull-right">{{ getPerc(p) | percent }}</div></td>
            </tr>
            <tr v-if="total_pagamentos">
              <td>
                <div class="text-center">
                   <i title="Ver detalhes" class="fa fa-asterisk fa-2x"></i>
                </div>
              </td>
              <td><div class="text-center"><b>Resultado</b></div></td>
              <td colspan="2"></td>
              <td><div class="pull-right">{{ total_receber - total_pagamentos | currency }}</div></td>
            </tr>
          </tbody>
        </table>
      </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</template>
<script>
import config from '../../config.js'
/* eslint-disable */
export default {
  name: 'DRE',
  data: function () {
    return {
      filiais: [],
      id_filial: [],
      tipoPeriodo: '1',
      data_fim: '',
      data_ini: '',
      pagar: {},
      receber: {},
      loading: true,
      total_pagamentos: 0,
      total_receber: 0,
      todasFiliais: true,
      thead: {
        centro: {nome: 'Centro de Custo', visible: true},
        custo: {nome: 'Custo', visible: true},
        reg: {nome: 'Nº Reg.', visible: true},
        valor: {nome: 'Valor R$', visible: true},
        fornecedor: {nome: 'Fornecedor', visible: false},
        vencimento: {nome: 'Vencimento', visible: false},
        perc: {nome: 'Perc. %', visible: true},
      }
    }
  },
  mounted: function () {
    this.loadFiliais()
    this.data_ini = this.dataIni ()
    this.data_fim = this.dataFim ()
  },watch: {
    todasFiliais: function (todas) {
      this.selecionarFiliais();
    }
  }, methods: {
    loadFiliais () {
      const vue = this
      vue.$http.get(config.API + 'filiais')
        .then((response) => {
          response.data.forEach(function(filial){
            filial.selecionado = true
            vue.filiais.push(filial)
          })
        }, (response) => {

        })
    }, loadData() {
      this.showLoading = true
      this.pagar = {}
      this.receber = {}
      this.loadPagar()
      this.loadReceber()
    }, loadPagar () {

      const vue = this
      var tipo_periodo
      if(vue.getIdsFiliais()){
          vue.total_pagamentos = 0;
          switch(vue.tipoPeriodo) {
          case '1':
              tipo_periodo = 'pagar_parc.dt_pgto'
              break;
          case '2':
              tipo_periodo = 'pagar_parc.vcto_parc'
              break;
          case '3':
              tipo_periodo = 'pagar_parc.data_inc'
              break;
          }
          var data_form = {
              id_filial: vue.id_filial,
              data_ini: vue.data_ini,
              data_fim: vue.data_fim,
              tipo_periodo: tipo_periodo
          }

          vue.$http.post(config.API + 'financeiro/drePagar', data_form)
            .then((response) => {
              if(response.data.length == 0){
                swal({
                  title: 'Atenção !',
                  type: 'alert',
                  text: 'Não foi encontrado nenhum registro'
                })
                vue.showLoading = false
              }
              response.data.forEach(function(pagar){
                pagar.detalhes = []
                pagar.loading = false
                vue.total_pagamentos = parseInt(vue.total_pagamentos) + parseInt(pagar.valor)
              })
              vue.pagar = response.data
              vue.showLoading = false
            }, (response) => {
              vue.showLoading = false
            })
      }
    }, loadDetalhePagar (custo, index){
      const vue = this
      var tipo_periodo
      var aux
      vue.showLoading = true

        vue.pagar.forEach(function(p, index){
          if(custo.id_custo == p.id_detalhe){
            if(p.hide){
                p.hide = false
                aux = true
              }else{
                p.hide = true
                aux = true
              }
          }
        })

        if(aux){
          vue.showLoading = false
          return true;
        }

        let tipoPeriodos = {
          1: 'pagar_parc.dt_pgto',
          2: 'pagar_parc.vcto_parc',
          3: 'pagar_parc.data_inc'
        }

        var data_form = {
          id_filial: vue.id_filial,
          data_ini: vue.data_ini,
          data_fim: vue.data_fim,
          tipo_periodo: tipoPeriodos[vue.tipoPeriodo],
          id_custo: custo.id_custo
        }

        vue.$http.post(config.API + 'financeiro/detalheCustoPagar', data_form)
          .then((response) => {
            response.data.forEach(function(detalhe, i){

              detalhe.reg = i+1
              detalhe.hide = false
              detalhe.perc = detalhe.valor / custo.valor * 100
              vue.pagar.splice(index+1, 0, detalhe)
            })

            vue.thead.fornecedor.visible = true
            vue.thead.vencimento.visible = true
            vue.showLoading = false
          }, (response) => {
            vue.showLoading = false
          })
    }, loadReceber () {
      const vue = this
      var tipo_periodo
      if(vue.getIdsFiliais()){
        switch(vue.tipoPeriodo) {
        case '1':
            tipo_periodo = 'receber.pago_data'
            break;
        case '2':
            tipo_periodo = 'receber.vcto'
            break;
        case '3':
            tipo_periodo = 'receber.data_inc'
            break;
        }

      var data_form = {
          id_filial: vue.id_filial,
          data_ini: vue.data_ini,
          data_fim: vue.data_fim,
          tipo_periodo: tipo_periodo
      }
      vue.$http.post(config.API + 'financeiro/dreReceber', data_form)
        .then((response) => {
          response.data[0].centro = 'Recebimentos'
          response.data[0].custo = 'Entradas'
          response.data[0].razao = ''
          response.data[0].c_d = 'C'
          response.data[0].perc = 100.0
          response.data[0].detalhes = []

          vue.total_receber = response.data[0].valor;
          vue.receber = response.data


          vue.showLoading = false
        }, (response) => {
          vue.showLoading = false
        })
      }
    }, loadDetalheReceber (custo, index){
      const vue = this
      var tipo_periodo
      vue.showLoading = true

      if(vue.receber.length > 1){
        vue.receber = vue.receber.slice(0,1)
        vue.showLoading = false
        return false
      }

      switch(vue.tipoPeriodo) {
        case '1':
            tipo_periodo = 'receber.pago_data'
            break;
        case '2':
            tipo_periodo = 'receber.vcto'
            break;
        case '3':
            tipo_periodo = 'receber.data_inc'
            break;
        }

        var data_form = {
            id_filial: vue.id_filial,
            data_ini: vue.data_ini,
            data_fim: vue.data_fim,
            tipo_periodo: tipo_periodo
        }

      vue.$http.post(config.API + 'financeiro/detalheCustoReceber', data_form)
        .then((response) => {
          response.data.forEach(function(detalhe, i){
            detalhe.reg = i+1
            detalhe.perc = detalhe.valor / custo.valor * 100
            vue.receber.splice(index+1, 0, detalhe)
          })
          vue.thead.fornecedor.visible = true
          vue.thead.vencimento.visible = true

          vue.showLoading = false
        }, (response) => {
          vue.showLoading = false
        })
    }, getPerc (perc) {
        if(perc.valor){
          return perc.valor / this.total_pagamentos * 100
        }else{
          return perc
        }
    }, getIdsFiliais () {
      const vue = this
      vue.id_filial = []

      vue.filiais.forEach(function(filial){
        if(filial.selecionado){
          vue.id_filial.push(filial.id)
        }
      })
      if(vue.id_filial.length > 0){
        return true;
      }else {
        swal({text:'selecione pelo menos uma filial', type: 'alert'})
      }
    },dataIni () {
      const vue = this
      var date = new Date()

      var ano = date.getFullYear()
      var mes = (date.getMonth() + 1)

      if(mes < 10){
        mes = '0' + mes
      }

      return vue.data_ini = ano + '-' + mes + '-' + '01'
    }, dataFim (){
      const vue = this
      var date = new Date()
      var lastDayOfMonth = new Date(date.getFullYear(), date.getMonth()+1, 0);
      var ano = date.getFullYear()
      var mes = (date.getMonth() + 1)

      if(mes < 10){
        mes = '0' + mes
      }

      return ano + '-' + mes + '-' + lastDayOfMonth.getDate()
    }, selecionarFiliais (){
      const vue = this
      vue.filiais.forEach(function(filial){
        filial.selecionado = vue.todasFiliais
      })
    }
  }
}
</script>

<style>
fieldset {
    padding: 0 1.4em 1em 1em !important;
    margin: 0 0 1.5em 0 !important;
    border: 1px solid #e5e5e5  !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend {
    box-shadow:  0px 0px 0px 0px #000;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    border: none;
}

label { white-space: nowrap; }
</style>
