<template>
<div class="is-fullwidth">
  <section class="content">
      <h2>Desempenho Gerencial Comparativo por Período</h2>
      <div class="columns">
        <div class="column is-7">
          <div class="card is-fullwidth">
            <header class="card-header">
                <p class="card-header-title">
                  Filiais
                </p>
                <label class="card-header-icon">
                  <span class="icon">
                    <i class="fa fa-building"></i>
                  </span>
                </label>
            </header>
            <div class="card-content">
              <div class="content" style="overflow-x:auto;">
                <table class="table is-striped">
                  <tbody>
                      <tr>
                        <th style="width: 60px"><label for="">Del</label><div class="pull-right"><input type="checkbox" v-model="todasFiliais"></div></th>
                        <th>Identificação</th>
                        <th>Código</th>
                        <th>Razão Social </th>
                        <th>CNPJ</th>
                      </tr>
                      <tr v-for="filial in filiais">
                        <td><input type="checkbox" v-model="filial.selecionado"></td>
                        <td>{{ filial.identif }}</td>
                        <td>{{ filial.id }}</td>
                        <td>{{ filial.razao }}</td>
                        <td>{{ filial.cnpj }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-5">
          <div class="card is-fullwidth">
            <header class="card-header">
              <p class="card-header-title">
                Período de Consulta ( Desempenho )
              </p>
              <label class="card-header-icon">
                <span class="icon">
                  <i class="fa fa-calendar"></i>
                </span>
              </label>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="columns">
                  <div class="column is-half">
                      <div class="text-center"><label for="">De</label></div>
                      <p class="control has-addons has-addons-left">
                        <a class="button is-brand">
                          <i class="fa fa-calendar"></i>
                        </a>
                        <input type="date" class="input" v-model="data_ini">
                      </p>
                  </div>
                  <div class="column is-half">
                    <div class="text-center"><label for="">Até</label></div>
                      <p class="control has-addons has-addons-left">
                        <a class="button is-brand">
                          <i class="fa fa-calendar"></i>
                        </a>
                        <input type="date" class="input" v-model="data_fim">
                      </p>
                  </div>
                </div>
              </div>
              <div class="column">
                <p class="control">
                  <label class="checkbox">
                    Comparar com ano anterior
                    <input class="checkbox" type="checkbox" v-model="showLastYearInformation">
                  </label>
                </p>
              </div>
            </div>
            <footer class="card-footer">
               <a class="card-footer-item" href="#grafico" @click.prevent="loadComparativos">Gerar Relatório &nbsp<i class="fa fa-table"></i></a>
            </footer>
          </div>
        </div>
      </div>
  <br>
      <div class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">
            Informações de Faturamento
          </p>
          <label class="card-header-icon">
            <span class="icon">
              <i class="fa fa-info"></i>
            </span>
          </label>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="table-responsive" style="overflow-x:auto;">
              <table class="table table-bordered table-striped dataTable" id="table" >
                <thead>
                  <tr role="row">
                    <th colspan="1" rowspan="1">Empresa</th>
                    <th colspan="1" rowspan="1">Fat.Bruto R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Fat.Bruto R$</th>
                    <th colspan="1" rowspan="1">Produto R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Produto R$</th>
                    <th colspan="1" rowspan="1">Serviço R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Serviço R$</th>
                    <th colspan="1" rowspan="1">Produto + Serv R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Produto + Serv R$</th>
                    <th colspan="1" rowspan="1">% Prod</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">% Prod</th>
                    <th colspan="1" rowspan="1">% Serv.</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">% Serv.</th>
                    <th colspan="1" rowspan="1">Lucro Bruto R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Lucro Bruto R$</th>
                    <th colspan="1" rowspan="1">% Lucro</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">% Lucro</th>
                    <th colspan="1" rowspan="1">SubTot R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">SubTot R$</th>
                    <th colspan="1" rowspan="1">% Comp.</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">% Comp.</th>
                    <th colspan="1" rowspan="1">Tt.Despesas R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Tt.Despesas R$</th>
                    <th colspan="1" rowspan="1">% Comp.</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">% Comp.</th>
                    <th colspan="1" rowspan="1">Lucro Liq. R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Lucro Liq. R$</th>
                    <th colspan="1" rowspan="1">% Sob.Bruto</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">% Sob.Bruto</th>
                    <th colspan="1" rowspan="1">Frete R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Frete R$</th>
                    <th colspan="1" rowspan="1">Compra</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Compra</th>
                    <th colspan="1" rowspan="1">Juros R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Juros R$</th>
                    <th colspan="1" rowspan="1">Outros R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Outros R$</th>
                    <th colspan="1" rowspan="1">Desconto R$</th>
                    <th class="last-year-title" v-if="showLastYearInformation" colspan="1" rowspan="1">Desconto R$</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" role="row" v-for="comparativo in comparativos" v-if="!showLastYearInformation">
                    <td>{{ comparativo.emp }}</td>
                    <td><div class="pull-right">{{ comparativo.tt_bruto | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_prod | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_serv | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.prod_serv | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_prod | percent }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_serv | percent }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_lc_bruto | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_lucro | percent }}</div></td>
                    <td><div class="pull-right">{{ comparativo.sub_tt_lc | currency  }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_sub_tt  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_desp  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_desp  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_lc_lq  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_sob_srt  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_frete  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_compra  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_juros  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_outras  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_desc  | currency }}</div></td>
                  </tr>
                  <tr v-if="comparativoTotal.tt_bruto && !showLastYearInformation">
                    <td><label for="">Total</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_bruto | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_prod | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_serv | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.prod_serv | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.perc_prod | percent }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.perc_serv | percent }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_lc_bruto | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.perc_lucro | percent }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.sub_tt_lc | currency  }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.perc_sub_tt  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_desp  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.perc_desp  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_lc_lq  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.perc_sob_srt  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_frete  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_compra  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_juros  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_outras  | currency }}</label></td>
                    <td><label class="pull-right" for="">{{ comparativoTotal.tt_desc  | currency }}</label></td>
                  </tr>
                  <tr class="odd" role="row" v-for="comparativo in comparativosWithLastYear" v-if="showLastYearInformation">
                    <td>{{ comparativo.emp }}</td>
                    <td><div class="pull-right">{{ comparativo.tt_bruto | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_bruto | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_prod | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_prod | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_serv | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_serv | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.prod_serv | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_prod_serv | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_prod | percent }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_perc_prod | percent }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_serv | percent }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_perc_serv | percent }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_lc_bruto | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_lc_bruto | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_lucro | percent }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_perc_lucro | percent }}</div></td>
                    <td><div class="pull-right">{{ comparativo.sub_tt_lc | currency  }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_sub_tt_lc | currency  }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_sub_tt  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_perc_sub_tt  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_desp  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_desp  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_desp  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_perc_desp  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_lc_lq  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_lc_lq  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.perc_sob_srt  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_perc_sob_srt  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_frete  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_frete  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_compra  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_compra  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_juros  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_juros  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_outras  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_outras  | currency }}</div></td>
                    <td><div class="pull-right">{{ comparativo.tt_desc  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ comparativo.last_year_tt_desc  | currency }}</div></td>
                  </tr>
                  <tr v-if="totalWithLastYear && showLastYearInformation">
                    <td>{{ totalWithLastYear.emp }}</td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_bruto | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_bruto | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_prod | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_prod | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_serv | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_serv | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.prod_serv | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_prod_serv | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.perc_prod | percent }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_perc_prod | percent }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.perc_serv | percent }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_perc_serv | percent }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_lc_bruto | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_lc_bruto | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.perc_lucro | percent }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_perc_lucro | percent }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.sub_tt_lc | currency  }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_sub_tt_lc | currency  }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.perc_sub_tt  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_perc_sub_tt  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_desp  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_desp  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.perc_desp  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_perc_desp  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_lc_lq  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_lc_lq  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.perc_sob_srt  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_perc_sob_srt  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_frete  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_frete  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_compra  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_compra  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_juros  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_juros  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_outras  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_outras  | currency }}</div></td>
                    <td><div class="pull-right">{{ totalWithLastYear.tt_desc  | currency }}</div></td>
                    <td><div class="pull-right last-year">{{ totalWithLastYear.last_year_tt_desc  | currency }}</div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

  </section>
</div>
</template>

<script>
/* eslint-disable */
import config from '../../config.js'
// Require needed datatables modules
export default {
  name: 'DesempenhoGerencialPeriodo',

  data: function () {
    return {
      filiais: [],
      id_filial: [],
      data_ini: '',
      data_fim: '',
      comparativos: [],
      comparativoPeriodo: [],
      comparativosWithLastYear: [],
      totalWithLastYear: null,
      comparativoTotal: {},
      comparativosLastYear: {},
      comparativoTotalLastYear: {},
      tableComparativos: [],
      lastYear: true,
      todasFiliais: false,
      tableZoom: false,
      showLastYearInformation: false
    }
  },
  methods: {
    loadFiliais () {
      const vue = this
      let filiais = localStorage.getItem('filiais')

      if (filiais.length > 0) {
        vue.filiais = JSON.parse(filiais)
        vue.todasFiliais = true
      }

      if (vue.filiais.length < 1) {
         vue.$http.get(config.API + 'filiais')
        .then((response) => {
          response.data.forEach(function(filial){
            filial.selecionado = true
            vue.filiais.push(filial)
          })
        }, (response) => {
          console.log('error', response)
        })
      }
    }, getIdsFiliais () {
      const vue = this
      vue.id_filial = []

      vue.filiais.forEach(function(filial){
        if(filial.selecionado){
          vue.id_filial.push(filial.id)
        }
      })

      if(vue.id_filial.length > 0){
        return true;
      }else {
        alert('selecione pelo menos uma filial')
      }

    },
    initComparativos () {
      this.comparativos = []
      this.comparativoPeriodo = []
      this.comparativosWithLastYear = []
      this.totalWithLastYear = null
      this.comparativoTotal = {}
      this.comparativosLastYear = {}
      this.comparativoTotalLastYear = {}
      this.tableComparativos = []
    },
    loadComparativos () {
      const vue = this
      vue.initComparativos()

      var despesas = ''
        if(vue.getIdsFiliais ()){
          var data_form = {
            id_filial : vue.id_filial,
            data_ini: vue.data_ini,
            data_fim: vue.data_fim
          }


          vue.$http.post(config.API + 'financeiro/comparativoDespesas', data_form)
          .then((response) => {
            if(response.data.length > 0){
              despesas = response.data
            }

            vue.$http.post(config.API + 'financeiro/comparativoPeriodo', data_form)
              .then((response) => {
                  if(response.data.length == 0){
                    swal({
                      title: "Atenção !",
                      text: "Não foi encontrado nenhum registro entre essas datas",
                      timer: 3000,
                      type: "info",
                      showConfirmButton: false
                    });

                    return false;
                  }
                  response.data.forEach(function(comparativo){
                      _.map(comparativo, function(c){
                          c = parseFloat(c);
                      })

                    if(despesas){
                      let encontrado = _.find(despesas, function(despesa){
                          return despesa.id_filial == comparativo.id_filial
                      })
                      comparativo.tt_desp = encontrado ? encontrado.desp : 0.0
                    }
                  })

                vue.comparativoPeriodo = response.data

                if(vue.comparativoPeriodo.length > 0){
                  vue.loadTable()
                }else {
                  vue.comparativos = [];
                  vue.comparativoTotal = []
                }

            }, (response) => {

            })
        }, (response) => {

        })
        if(vue.lastYear){
          vue.loadlastYear();
        }
      }
    }, loadTable () {
      const vue = this
      vue.comparativos = [];
      vue.comparativoTotal = {
        tt_bruto: 0,
        tt_prod: 0,
        tt_serv: 0,
        prod_serv: 0,
        perc_prod: 0,
        perc_serv: 0,
        tt_lc_bruto: 0,
        perc_lucro: 0,
        sub_tt_lc: 0,
        perc_sub_tt: 0,
        tt_desp: 0,
        perc_desp: 0,
        tt_lc_lq: 0,
        perc_sob_srt: 0,
        tt_frete: 0,
        tt_compra: 0,
        tt_juros: 0,
        tt_outras: 0,
        tt_desc: 0,
      };

      vue.comparativoPeriodo.forEach(function(c, index){
          var comparativo = [];
          _.each(vue.filiais, function(filial){
            c.id_filial == filial.id ? comparativo.emp = filial.identif : ''
          })
          console.log(c)
          comparativo.id_filial = c.id_filial
          comparativo.tt_bruto = parseFloat(c.total)
          comparativo.tt_prod = parseFloat(c.prod)
          comparativo.tt_serv = parseFloat(c.serv)
          comparativo.prod_serv = parseFloat(c.prod_serv)
          comparativo.perc_prod = (1 - parseFloat(c.custo) / parseFloat(c.prod)) * 100
          comparativo.perc_serv = (parseFloat(c.serv) / parseFloat(c.total)) * 100
          comparativo.tt_lc_bruto = parseFloat(c.prod) - parseFloat(c.custo)
          comparativo.perc_lucro = (parseFloat(comparativo.tt_lc_bruto) / parseFloat(c.total)) * 100
          comparativo.sub_tt_lc = parseFloat(comparativo.tt_lc_bruto) + parseFloat(c.serv)
          comparativo.perc_sub_tt = 0
          comparativo.tt_desp = parseFloat(c.tt_desp)
          comparativo.perc_desp = (c.tt_desp / c.total) * 100
          comparativo.tt_lc_lq = parseFloat(comparativo.sub_tt_lc) - parseFloat(c.tt_desp)
          comparativo.perc_sob_srt = (parseFloat(comparativo.tt_lc_lq) / parseFloat(c.total)) * 100
          comparativo.tt_frete = parseFloat(c.tt_frete)
          comparativo.tt_compra = parseFloat(c.tt_compra)
          comparativo.tt_juros = parseFloat(c.tt_juros)
          comparativo.tt_outras = parseFloat(c.tt_outras)
          comparativo.tt_desc = parseFloat(c.tt_desc)

          vue.comparativoTotal.tt_bruto += parseFloat(comparativo.tt_bruto)
          vue.comparativoTotal.tt_prod += parseFloat(comparativo.tt_prod)
          vue.comparativoTotal.tt_serv += parseFloat(comparativo.tt_serv)
          vue.comparativoTotal.prod_serv += parseFloat(comparativo.prod_serv)
          vue.comparativoTotal.perc_prod += parseFloat(comparativo.perc_prod)
          vue.comparativoTotal.perc_serv += parseFloat(comparativo.perc_serv)
          vue.comparativoTotal.tt_lc_bruto += parseFloat(comparativo.tt_lc_bruto)
          vue.comparativoTotal.perc_lucro += parseFloat(comparativo.perc_lucro)
          vue.comparativoTotal.sub_tt_lc += parseFloat(comparativo.sub_tt_lc)
          vue.comparativoTotal.perc_sub_tt += parseFloat(comparativo.perc_sub_tt)
          vue.comparativoTotal.tt_desp += parseFloat(comparativo.tt_desp)
          vue.comparativoTotal.perc_desp += parseFloat(comparativo.perc_desp)
          vue.comparativoTotal.tt_lc_lq += parseFloat(comparativo.tt_lc_lq)
          vue.comparativoTotal.perc_sob_srt += parseFloat(comparativo.perc_sob_srt)
          vue.comparativoTotal.tt_frete += parseFloat(comparativo.tt_frete)
          vue.comparativoTotal.tt_compra += parseFloat(comparativo.tt_compra)
          vue.comparativoTotal.tt_juros += parseFloat(comparativo.tt_juros)
          vue.comparativoTotal.tt_outras += parseFloat(comparativo.tt_outras)
          vue.comparativoTotal.tt_desc += parseFloat(comparativo.tt_desc)

          vue.comparativos.push(comparativo)
      })
      console.log('vue.comparativoPeriodo', vue.comparativoPeriodo)
    },
    loadTableLastYear () {
      const vue = this
      vue.comparativosLastYear = [];
      vue.comparativoTotalLastYear = {
        tt_bruto: 0,
        tt_prod: 0,
        tt_serv: 0,
        prod_serv: 0,
        perc_prod: 0,
        perc_serv: 0,
        tt_lc_bruto: 0,
        perc_lucro: 0,
        sub_tt_lc: 0,
        perc_sub_tt: 0,
        tt_desp: 0,
        perc_desp: 0,
        tt_lc_lq: 0,
        perc_sob_srt: 0,
        tt_frete: 0,
        tt_compra: 0,
        tt_juros: 0,
        tt_outras: 0,
        tt_desc: 0,
      };

      vue.comparativoLastYear.forEach(function(c, index){
          //fazer filtro para porcentagem
          var comparativo = [];
          _.each(vue.filiais, function(filial){ c.id_filial == filial.id ? comparativo.emp = filial.identif : ''  })
          comparativo.id_filial = c.id_filial
          comparativo.tt_bruto = c.total
          comparativo.tt_prod = c.prod
          comparativo.tt_serv = c.serv
          comparativo.prod_serv = c.prod_serv
          comparativo.perc_prod = c.custo / c.prod * 100
          comparativo.perc_serv = (c.serv / c.total) * 100
          comparativo.tt_lc_bruto = c.prod - c.custo
          comparativo.perc_lucro = (comparativo.tt_lc_bruto / c.total) * 100
          comparativo.sub_tt_lc = comparativo.tt_lc_bruto + c.serv
          comparativo.perc_sub_tt = 0
          comparativo.tt_desp = c.tt_desp
          comparativo.perc_desp = (c.tt_desp / c.total) * 100
          comparativo.tt_lc_lq = comparativo.sub_tt_lc - c.tt_desp
          comparativo.perc_sob_srt = (comparativo.tt_lc_lq / c.total) * 100
          comparativo.tt_frete = c.tt_frete
          comparativo.tt_compra = c.tt_compra
          comparativo.tt_juros = c.tt_juros
          comparativo.tt_outras = c.tt_outras
          comparativo.tt_desc = c.tt_desc

          vue.comparativoTotalLastYear.tt_bruto += parseFloat(comparativo.tt_bruto)
          vue.comparativoTotalLastYear.tt_prod += parseFloat(comparativo.tt_prod)
          vue.comparativoTotalLastYear.tt_serv += parseFloat(comparativo.tt_serv)
          vue.comparativoTotalLastYear.prod_serv += parseFloat(comparativo.prod_serv)
          vue.comparativoTotalLastYear.perc_prod += parseFloat(comparativo.perc_prod)
          vue.comparativoTotalLastYear.perc_serv += parseFloat(comparativo.perc_serv)
          vue.comparativoTotalLastYear.tt_lc_bruto += parseFloat(comparativo.tt_lc_bruto)
          vue.comparativoTotalLastYear.perc_lucro += parseFloat(comparativo.perc_lucro)
          vue.comparativoTotalLastYear.sub_tt_lc += parseFloat(comparativo.sub_tt_lc)
          vue.comparativoTotalLastYear.perc_sub_tt += parseFloat(comparativo.perc_sub_tt)
          vue.comparativoTotalLastYear.tt_desp += parseFloat(comparativo.tt_desp)
          vue.comparativoTotalLastYear.perc_desp += parseFloat(comparativo.perc_desp)
          vue.comparativoTotalLastYear.tt_lc_lq += parseFloat(comparativo.tt_lc_lq)
          vue.comparativoTotalLastYear.perc_sob_srt += parseFloat(comparativo.perc_sob_srt)
          vue.comparativoTotalLastYear.tt_frete += parseFloat(comparativo.tt_frete)
          vue.comparativoTotalLastYear.tt_compra += parseFloat(comparativo.tt_compra)
          vue.comparativoTotalLastYear.tt_juros += parseFloat(comparativo.tt_juros)
          vue.comparativoTotalLastYear.tt_outras += parseFloat(comparativo.tt_outras)
          vue.comparativoTotalLastYear.tt_desc += parseFloat(comparativo.tt_desc)

          vue.comparativosLastYear.push(comparativo)
      })
      this.mergeTable()
    },
    loadlastYear(){
      const vue = this
      var despesas = ''
      var arrDataIni = vue.data_ini.split('-')
      vue.comparativosLastYear = ''
      vue.comparativoTotalLastYear = ''
      arrDataIni[0] = arrDataIni[0] - 1;
      var arrDataFim = vue.data_fim.split('-')
      arrDataFim[0] = arrDataFim[0] - 1;
      var lastYearIni = arrDataIni[0] + '-' + arrDataIni [1] + '-' + arrDataIni[2]
      var lastYearFim = arrDataFim[0] + '-' + arrDataFim [1] + '-' + arrDataFim[2]


      if(vue.getIdsFiliais ()){
        var data_form = {
          id_filial : vue.id_filial,
          data_ini: lastYearIni,
          data_fim: lastYearFim
        }

        vue.$http.post(config.API + 'financeiro/comparativoDespesas', data_form)
        .then((response) => {

          if(response.data.length > 0){
            despesas = response.data
          }else{
              vue.comparativosLastYear = ''
              vue.comparativoTotalLastYear = ''
          }
          vue.$http.post(config.API + 'financeiro/comparativoPeriodo', data_form)
            .then((response) => {
                if(response.data.length == 0){
                    swal({
                      title: "Atenção !",
                      text: "Não foi encontrado nenhum registro entre essas datas no ano anterior",
                      timer: 3000,
                      type: "info",
                      showConfirmButton: false
                    });
                    return false;
                  }
                response.data.forEach(function(comparativo){
                    _.map(comparativo, function(c){
                        c = parseFloat(c);
                    })

                  if(despesas){
                    _.find(despesas, function(despesa){
                        if(despesa.id_filial == comparativo.id_filial){
                            comparativo.tt_desp = despesa.desp
                        }
                    })
                  }else{
                    comparativo.tt_desp = 0
                  }
                })

              vue.comparativoLastYear = response.data

              if(vue.comparativoLastYear.length > 0){
                vue.loadTableLastYear()
              } else {
                vue.comparativoLastYear = ''
              }
            }, (response) => {

            })
        }, (response) => {

        })
      }
    }, zoom () {
        if(this.tableZoom){
            this.tableZoom = false
        }else{
            this.tableZoom = true
        }
    },
    loadData() {
      const vue = this
      var date = new Date()
      var lastDayOfMonth = new Date(date.getFullYear(), date.getMonth()+1, 0);

      vue.data_ini = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + '01'
      vue.data_fim = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + lastDayOfMonth.getDate()
    },
    dataIni () {
      const vue = this
      var date = new Date()

      var ano = date.getFullYear()
      var mes = (date.getMonth() + 1)

      if(mes < 10){
        mes = '0' + mes
      }

      return vue.data_ini = ano + '-' + mes + '-' + '01'
    },
    mergeTable () {
      const vue = this
      vue.comparativosWithLastYear = []
      vue.totalWithLastYear = []

      console.log('este ano', vue.comparativos, 'ano passado', vue.comparativosLastYear)
      vue.comparativos.forEach(function (comparativo) {
        let comparativoLastYear = null
        let prototipo = {
          tt_bruto: 0,
          last_year_tt_bruto: 0,
          tt_prod: 0,
          last_year_tt_prod: 0,
          tt_serv: 0,
          last_year_tt_serv: 0,
          prod_serv: 0,
          last_year_prod_serv: 0,
          perc_prod: 0,
          last_year_perc_prod: 0,
          perc_serv: 0,
          last_year_perc_serv: 0,
          tt_lc_bruto: 0,
          last_year_tt_lc_bruto: 0,
          perc_lucro: 0,
          last_year_perc_lucro: 0,
          sub_tt_lc: 0,
          last_year_sub_tt_lc: 0,
          perc_sub_tt: 0,
          last_year_perc_sub_tt: 0,
          tt_desp: 0,
          last_year_tt_desp: 0,
          perc_desp: 0,
          last_year_perc_desp: 0,
          tt_lc_lq: 0,
          last_year_tt_lc_lq: 0,
          perc_sob_srt: 0,
          last_year_perc_sob_srt: 0,
          tt_frete: 0,
          last_year_tt_frete: 0,
          tt_compra: 0,
          last_year_tt_compra: 0,
          tt_juros: 0,
          last_year_tt_juros: 0,
          tt_outras: 0,
          last_year_tt_outras: 0,
          tt_desc: 0,
          last_year_tt_desc: 0,
        };

        comparativoLastYear = _.find(vue.comparativosLastYear, function (c) {
          // return comparativo.id === c.id
          return comparativo.id_filial === c.id_filial
        })

        if (comparativo && comparativoLastYear && comparativoLastYear.id_filial && comparativo.id_filial) {
          prototipo.emp = comparativo.emp
          prototipo.tt_bruto = comparativo.tt_bruto
          prototipo.last_year_tt_bruto = comparativoLastYear.tt_bruto
          prototipo.tt_prod = comparativo.tt_prod
          prototipo.last_year_tt_prod = comparativoLastYear.tt_prod
          prototipo.tt_serv = comparativo.tt_serv
          prototipo.last_year_tt_serv = comparativoLastYear.tt_serv
          prototipo.prod_serv = comparativo.prod_serv
          prototipo.last_year_prod_serv = comparativoLastYear.prod_serv
          prototipo.perc_prod = comparativo.perc_prod
          prototipo.last_year_perc_prod = comparativoLastYear.perc_prod
          prototipo.perc_serv = comparativo.perc_serv
          prototipo.last_year_perc_serv = comparativoLastYear.perc_serv
          prototipo.tt_lc_bruto = comparativo.tt_lc_bruto
          prototipo.last_year_tt_lc_bruto = comparativoLastYear.tt_lc_bruto
          prototipo.perc_lucro = comparativo.perc_lucro
          prototipo.last_year_perc_lucro = comparativoLastYear.perc_lucro
          prototipo.sub_tt_lc = comparativo.sub_tt_lc
          prototipo.last_year_sub_tt_lc = comparativoLastYear.sub_tt_lc
          prototipo.perc_sub_tt = comparativo.perc_sub_tt
          prototipo.last_year_perc_sub_tt = comparativoLastYear.perc_sub_tt
          prototipo.tt_desp = comparativo.tt_desp
          prototipo.last_year_tt_desp = comparativoLastYear.tt_desp
          prototipo.perc_desp = comparativo.perc_desp
          prototipo.last_year_perc_desp = comparativoLastYear.perc_desp
          prototipo.tt_lc_lq = comparativo.tt_lc_lq
          prototipo.last_year_tt_lc_lq = comparativoLastYear.tt_lc_lq
          prototipo.perc_sob_srt = comparativo.perc_sob_srt
          prototipo.last_year_perc_sob_srt = comparativoLastYear.perc_sob_srt
          prototipo.tt_frete = comparativo.tt_frete
          prototipo.last_year_tt_frete = comparativoLastYear.tt_frete
          prototipo.tt_compra = comparativo.tt_compra
          prototipo.last_year_tt_compra = comparativoLastYear.tt_compra
          prototipo.tt_juros = comparativo.tt_juros
          prototipo.last_year_tt_juros = comparativoLastYear.tt_juros
          prototipo.tt_outras = comparativo.tt_outras
          prototipo.last_year_tt_outras = comparativoLastYear.tt_outras
          prototipo.tt_desc = comparativo.tt_desc
          prototipo.last_year_tt_desc = comparativoLastYear.tt_desc

          vue.comparativosWithLastYear.push(prototipo)
        }
      })

      if (vue.comparativoTotal) {
        vue.totalWithLastYear = {
          emp: 'Total',
          tt_bruto: vue.comparativoTotal.tt_bruto,
          last_year_tt_bruto: vue.comparativoTotalLastYear.tt_bruto,
          tt_prod: vue.comparativoTotal.tt_prod,
          last_year_tt_prod: vue.comparativoTotalLastYear.tt_prod,
          tt_serv: vue.comparativoTotal.tt_serv,
          last_year_tt_serv: vue.comparativoTotalLastYear.tt_serv,
          prod_serv: vue.comparativoTotal.prod_serv,
          last_year_prod_serv: vue.comparativoTotalLastYear.prod_serv,
          perc_prod: vue.comparativoTotal.perc_prod,
          last_year_perc_prod: vue.comparativoTotalLastYear.perc_prod,
          perc_serv: vue.comparativoTotal.perc_serv,
          last_year_perc_serv: vue.comparativoTotalLastYear.perc_serv,
          tt_lc_bruto: vue.comparativoTotal.tt_lc_bruto,
          last_year_tt_lc_bruto: vue.comparativoTotalLastYear.tt_lc_bruto,
          perc_lucro: vue.comparativoTotal.perc_lucro,
          last_year_perc_lucro: vue.comparativoTotalLastYear.perc_lucro,
          sub_tt_lc: vue.comparativoTotal.sub_tt_lc,
          last_year_sub_tt_lc: vue.comparativoTotalLastYear.sub_tt_lc,
          perc_sub_tt: vue.comparativoTotal.perc_sub_tt,
          last_year_perc_sub_tt: vue.comparativoTotalLastYear.perc_sub_tt,
          tt_desp: vue.comparativoTotal.tt_desp,
          last_year_tt_desp: vue.comparativoTotalLastYear.tt_desp,
          perc_desp: vue.comparativoTotal.perc_desp,
          last_year_perc_desp: vue.comparativoTotalLastYear.perc_desp,
          tt_lc_lq: vue.comparativoTotal.tt_lc_lq,
          last_year_tt_lc_lq: vue.comparativoTotalLastYear.tt_lc_lq,
          perc_sob_srt: vue.comparativoTotal.perc_sob_srt,
          last_year_perc_sob_srt: vue.comparativoTotalLastYear.perc_sob_srt,
          tt_frete: vue.comparativoTotal.tt_frete,
          last_year_tt_frete: vue.comparativoTotalLastYear.tt_frete,
          tt_compra: vue.comparativoTotal.tt_compra,
          last_year_tt_compra: vue.comparativoTotalLastYear.tt_compra,
          tt_juros: vue.comparativoTotal.tt_juros,
          last_year_tt_juros: vue.comparativoTotalLastYear.tt_juros,
          tt_outras: vue.comparativoTotal.tt_outras,
          last_year_tt_outras: vue.comparativoTotalLastYear.tt_outras,
          tt_desc: vue.comparativoTotal.tt_desc,
          last_year_tt_desc: vue.comparativoTotalLastYear.tt_desc
        }
      }

    },
    dataFim (){
      const vue = this
      var date = new Date()
      var lastDayOfMonth = new Date(date.getFullYear(), date.getMonth()+1, 0);
      var ano = date.getFullYear()
      var mes = (date.getMonth() + 1)

      if(mes < 10){
        mes = '0' + mes
      }

      return ano + '-' + mes + '-' + lastDayOfMonth.getDate()
    }, selecionarFiliais (){
      const vue = this
      vue.filiais.forEach(function(filial){
        filial.selecionado = vue.todasFiliais
      })
    }
  },
  mounted: function () {
    this.loadFiliais ()
    this.data_ini = this.dataIni ()
    this.data_fim = this.dataFim ()
  }, watch: {
    todasFiliais: function (todas) {
      this.selecionarFiliais()
    },
    showLastYearInformation: function (val) {
      const vue = this
      if(val) {
        if (vue.comparativo && vue.comparativoTotal)
        this.mergeTable()
      }
    }
  }
}
</script>

<style>
.zoom{
   zoom: 130%;
}
th{
    white-space: nowrap;
}
.last-year {
  color: #8e8b22;
}
.last-year-title {
  color: #8e8b22 !important;
}
</style>

