<template>
<div class="is-fullwidth">
  <section class="content">
      <h2>Vendas com Tendência</h2>
        <div class="card is-fullwidth">
            <header class="card-header">
              <p class="card-header-title">
                Filtro
              </p>
              <label class="card-header-icon">
                <span class="icon">
                  <i class="fa fa-filter"></i>
                </span>
              </label>
            </header>
            <div class="card-content">
              <div class="content">
                <form class="control">
                  <div class="columns">
                    <div class="column">
                      <div class="control is-grouped">
                        <p class="control has-addons has-addons-left">
                          <a class="button is-brand">
                              <i class="fa fa-calendar"></i>
                            </a>
                          <input type="month" class="input" v-model="mes" aria-describedby="basic-addon1">
                        </p>
                      </div>
                    </div>
                    <div class="column">
                      <div class="control is-grouped">
                        <p class="control">
                          <a class="button is-brand" href="" v-if="filterColaboradoresSelecionados.length < 1" @click.prevent="visible = true">
                            <i class="fa fa-search"></i>
                          </a>
                        </p>
                        <p class="control is-expanded" v-if="filterColaboradoresSelecionados.length < 1">
                          {{ filterColaboradoresSelecionados.length > 0 ? filterColaboradoresSelecionados : 'Selecionar colaborador(es)' }}
                        </p>
                        <p class="control is-expanded" v-if="filterColaboradoresSelecionados.length > 0">
                          <button class="button is-warning" @click.prevent="visible = true">Remover / Alterar Colaboradores</button>
                        </p>
                      </div>
                    </div>
                    <div class="column">
                      <div class="text-center"><label for="">Somente Faturado</label></div>
                      <input type="checkbox" v-model="faturado" class="form-control">
                    </div>
                    <div class="column">
                      <div class="text-center"><label for="">Sábados e Domingos</label></div>
                      <input type="checkbox" v-model="checkboxDiasUteis" class="form-control">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <footer class="card-footer">
               <a class="card-footer-item" href="#grafico" @click.prevent="loadFaturados">Gerar Relatório &nbsp&nbsp<i class="fa fa-bar-chart"></i></a>
            </footer>
        </div>
    <br>
      <h2>Tabela e Gráfico</h2>
      <div class="panel">
        <div class="panel-block">
          <div class="columns">
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-line-chart fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Tendência</strong> <br><small>{{ tendencia | currency }}</small>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-compress fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Média dos Pedidos</strong> <br><small>{{ valorMedioPedidos | currency }}</small>
                          </a>
                        </div>
                      </nav>
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Acumulado</strong> <br><small>{{ acumulado | currency }}</small>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-check fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Positivados</strong> <br><small>{{ positivados }}</small>
                          </a>
                        </div>
                      </nav>
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Meta</strong>
                            <br><small>
                              {{ metas.positivacao }}
                            </small>
                          </a>
                          <a class="level-item" v-if="(metas.positivacao - positivados) > 0">
                            <i>Faltam</i>
                            <br><small>
                              {{ metas.positivacao - positivados }}
                            </small>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-list fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Qtd. de Pedidos</strong> <br><small>{{ quantidadePedidos }}</small>
                          </a>
                        </div>
                      </nav>
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Dias de venda</strong> <br><small>{{ diasUteis }}</small>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-block">
          <div class="columns">
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-bullseye fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item" >
                            <strong>Meta Vendas</strong><br><small>{{ metas.vendas | currency }}</small>
                          </a>
                        </div>
                      </nav>
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item" v-if="metas.vendas">
                            <strong>Meta / Dia</strong><br><small>{{ metaDia | currency }}</small>
                          </a>
                       </div>
                      </nav>
                  </article>
                </div>
              </div>
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-gift fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Bonificação</strong> <br><small>{{ bonificacao | currency }}</small>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-dollar fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                      <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Rentabilidade</strong> <br><small>% {{ rentabilidade  | percent }}</small>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column">
                <div class="box box-info">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-15x16">
                        <i class="fa fa-long-arrow-up fa-4x"></i>
                      </figure>
                    </div>
                    <div class="media-content">
                       <nav class="level">
                        <div class="level-left">
                          <a class="level-item">
                            <strong>Meta Atingida</strong>
                            <br><small>
                              % {{ metas.meta_atingida | percent }}
                            </small>
                          </a>
                        </div>
                      </nav>
                    </div>
                  </article>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
        <div style="overflow-x:auto;">
          <table class="table">
            <thead>
              <tr role="row">
                <th>Data</th>
                <th>Dia da semana</th>
                <th>Venda R$</th>
                <th>Acumulado R$</th>
                <th>Tendência</th>
                <th>Qtd Ped.</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" role="row" v-for="dia in dataTable" v-if="!dia.ocultar">
                <td><div class="text-center">{{ dia.data_faturado | ddmmyyyy }}</div></td>
                <td>{{ dia.data_faturado | dayWeek }}</td>
                <td><div class="pull-right">{{ dia.valor | currency }}</div></td>
                <td><div class="pull-right">{{ dia.acumulado | currency }}</div></td>
                <td><div class="pull-right">{{ dia.tendencia | currency }}</div></td>
                <td><div class="text-center">{{ dia.qtd }}</div></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class='column'>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
              <div class="box-body">
                <hr class="visible-xs">
                <p class="text-center">
                  <strong>Acumulado</strong>
                </p>
                <canvas id="venda"></canvas>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
              <div class="box-body">
                <hr class="visible-xs">
                <p class="text-center">
                  <strong>Tendência</strong>
                </p>
                <canvas id="tendencia"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    <modal :visible="visible" @close="close">
      <div class="box">
        <div id="colaboradores">
          <div class="control is-grouped">
            <p class="control">
              <a class="button is-brand">
                <i class="fa fa-search"></i>
              </a>
            </p>
            <p class="control is-expanded">
              <input type="text" class="input" placeholder="Nome" v-model="search" aria-describedby="sizing-addon1">
            </p>
          </div>
          <div class="scroll">
            <table class="table is-striped">
              <thead>
                <th>Nome</th>
                <th>Selecionar</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b>SELECIONAR TODOS</b>
                  </td>
                  <td>
                    <input type="checkbox" v-model="todosColaboradores">
                  </td>
                </tr>
                <tr v-for="colaborador in filteredColaboradores">
                  <td><b>{{ colaborador.nome }}</b></td>
                  <td><input type="checkbox" v-model="colaborador.selecionado"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="has-text-right">
            <div class="p">
              <a @click.prevent="visible = false" class="button is-success">
                Pronto !
              </a>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </section>
</div>
</template>


<script>
var Chart = require('chart.js')
  /* eslint-disable */
  /* global _ */
  /* global swal */
  import config from '../../config.js'
  import { Modal } from 'vue-bulma-modal'

  export default {
    name: 'Financeiro',
    components: {
      Modal
    },
    data: function () {
      return {
        visible: false,
        colaboradores: [],
        colaboradoresSelecionados: [],
        id_colaboradores: [],
        dataTable: '',
        faturados: [],
        search: '',
        faturado: false,
        metas: {
          vendas: 0,
          positivacao: 0,
          meta_atingida: 0
        },
        labels: [],
        mes: '',
        vendasGrafico: [],
        tendenciaGrafico: [],
        lastDay: 0,
        quantidadePedidos: 0,
        valorMedioPedidos: 0,
        rentabilidade: 0,
        tendencia: 0,
        acumulado: 0,
        positivados: 0,
        bonificacao: 0,
        diasUteis: '',
        showLoading: false,
        checkboxDiasUteis: true,
        todosColaboradores: false,
        graficColor: {
          backgroundColor: [],
          borderColor: []
        },
        openColaboradores: 'modal'
      }
    },
    methods: {
      close () {
        this.$emit('close')
      },
      loadColaboradores () {
        const vue = this
        vue.$http.get(config.API + 'colaboradores')
        .then((response) => {
          vue.colaboradores = []
          for (let colaborador of response.data) {
            colaborador.selecionado = false
            colaborador.totalvendido = 0
            colaborador.meta_positiv = colaborador.meta_positiv ? colaborador.meta_positiv : 0
            colaborador.meta_vendas = colaborador.meta_vendas ? colaborador.meta_vendas : 0
            vue.colaboradores.push(colaborador)
          }
          console.log(vue.colaboradores)
        }, (response) => {
        })

      }, modalColaboradores() {
        this.openColaboradores = this.openColaboradores === 'modal' ? 'modal is-active' : 'modal'
      },
      removerColaboradores () {
        const vue = this
        vue.colaboradores.forEach(function(colaborador){
          colaborador.selecionado = false
        })
      },
      selecionarColaborador (){
        const vue = this
        vue.colaboradores.forEach(function(colaborador){
          colaborador.selecionado = vue.todosColaboradores
        })
      },
      getIdsColaboradores () {
        const vue = this
        var count = 0
        vue.id_colaboradores = []

        vue.colaboradores.forEach(function(colaborador){
          if (colaborador.selecionado) {
            vue.id_colaboradores.push(colaborador.id)
            count ++
          }
        })


        if (count) {
          return true
        }
        return false
      }, loadPositivados () {
        const vue = this
        vue.positivados = 0
        var data_form = {
          id_colaboradores: vue.id_colaboradores,
          data_ini: '',
          data_fim: ''
        }

        var arrMes = vue.mes.split('-')
        vue.lastDay = vue.getLastDayOfMonth(arrMes[1], arrMes[0])
        data_form.data_ini = vue.mes + '-01'
        data_form.data_fim = vue.mes + '-' + vue.lastDay

        vue.$http.post(config.API + 'financeiro/positivados', data_form)
        .then((response) => {
          if (response.data) {
            response.data.forEach(function (positivado) {
              vue.positivados ++
            })
          }
        })
      },
      loadFaturados () {
        const vue = this
        vue.faturados = []

        var data_form = {
          id_colaboradores: vue.id_colaboradores,
          faturado: '',
          data_ini: '',
          data_fim: ''
        }

        vue.getIdsColaboradores()
        var arrMes = vue.mes.split('-')
        vue.lastDay = vue.getLastDayOfMonth(arrMes[1], arrMes[0])


        data_form.faturado = vue.faturado
        data_form.data_ini = vue.mes + '-01'
        data_form.data_fim = vue.mes + '-' + vue.lastDay

        if (vue.id_colaboradores.length > 0) {
          vue.$http.post(config.API + 'financeiro/faturados', data_form)
          .then((response) => {
            vue.faturados = response.data

            vue.labels = _.range(1, this.lastDay + 1)
            vue.getMeta()
            vue.setMetas()
            vue.loadPositivados()
            vue.validaDiasUteis()
            vue.loadTable()

          }, (response) => {

          })
        }else{
          swal({
            title: 'Atenção !',
            text: 'Selecione pelo menos um colaborador'
          })
        }
      },
      getMeta () {
        const vue = this
        var data_form = {
          id_colaboradores: vue.id_colaboradores
        }
        vue.$http.post(config.API + 'financeiro/meta_mes', data_form)
        .then((response) => {
          vue.meta = response.data.meta;
        }, (response) => {
        })
      },
      setMetas () {
        const vue = this
        vue.metas.vendas = 0
        vue.metas.positivacao = 0

        vue.colaboradores.forEach(function(colaborador){
          if(colaborador.selecionado){
            if(colaborador.meta_vendas){
              vue.metas.vendas = parseInt(vue.metas.vendas) + parseInt(colaborador.meta_vendas);
              vue.metas.positivacao = parseInt(vue.metas.positivacao ? vue.metas.positivacao : 0) + parseInt(colaborador.meta_positiv)
            }else{
              colaborador.meta_vendas = 0.0
            }
          }
        })
      },
      getLastDayOfMonth (month, year) {
        var day;
        month = Number(month)
        year = Number(year)

        if (month === 1 || month === 3 || month === 5 || month === 7 || month === 8 || month === 10 || month === 12) {
          return 31
        }

        if (month === 4 || month === 6 || month === 9 || month === 11) {
          return 30
        }

        if (month === 2) {
          if ( ( (year % 4 === 0) && ( year % 100 != 0) ) || (year % 400 === 0) )
            return 29
          else
            return 28
        }
      },
      validaDiasUteis () {
        const vue = this
        var weekday = new Array("Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado");
        var i = 0

        if(!vue.checkboxDiasUteis){

          vue.faturados.forEach(function(venda, index){
            var date = new Date(venda.data_faturado+ ' 00:00:00')
            if(weekday[date.getDay()] === "Sabado" || weekday[date.getDay()] === "Domingo"){
              vue.faturados[index].custo = 0
            }
          })

          vue.labels.forEach(function(dia, index){
            var date = vue.mes + '-' + dia
            date = new Date('"'+date+'"')
            if(date.getDay() === 0 || date.getDay() === 6){
              i ++
            }
          })

          vue.diasUteis = vue.lastDay - i

        }else{
          vue.diasUteis = vue.lastDay
        }
      }, loadTable () {

        const vue = this
        vue.validaDiasUteis()
        vue.metas.meta_atingida = 0.0
        vue.acumulado = 0
        vue.dataTable = _.range(1, this.lastDay + 1);
        vue.vendasGrafico = []
        vue.tendenciaGrafico = []

        _.map(vue.dataTable, function(dia, index){
          var data = new Date("'"+vue.mes + '-' + dia +"'")
          vue.dataTable[index] = {
            data_faturado: data,
            bonif: 0,
            custo: 0,
            qtd: 0,
            acumulado: 0,
            tendencia: 0,
            valor: 0,
            ocultar: false,
          };
        });

        if(!vue.checkboxDiasUteis){
          vue.dataTable.forEach(function(dia, index){
            if(dia.data_faturado.getDay() === 0 || dia.data_faturado.getDay() === 6){
              vue.dataTable[index].ocultar = true
            }
          })
        }

        vue.vendasGrafico = _.range(1, this.lastDay + 1);
        vue.bonificacao = 0
        vue.quantidadePedidos = 0
        var acumulado =  0
        var valor = 0
        let totalCusto = 0

        vue.dataTable.forEach(function (dia, index) {
          var dateD = moment(dia.data_faturado).format('YYYY-MM-DD')
          let vendasDia = _.filter(vue.faturados, function (venda) {
              var dateV = moment(venda.data_faturado).format('YYYY-MM-DD')
              return dateV === dateD
          })

          let total = 0

          _.each(vendasDia, function (venda) {
            total += parseFloat(venda.valor)
            vue.quantidadePedidos += venda.qtd

            if(venda.bonif){
              vue.bonificacao += Number(venda.bonif) / Number(venda.valor) * 100
            }
            totalCusto += Number(venda.custo)
          })

          acumulado += total

          vue.dataTable[index].valor = total
          vue.dataTable[index].acumulado = acumulado
          vue.dataTable[index].tendencia = acumulado / (index + 1) * parseInt(vue.diasUteis)
          vue.dataTable[index].qtd = vue.quantidadePedidos

          vue.tendenciaGrafico[index] = acumulado / (index + 1) * parseInt(vue.diasUteis)
          vue.vendasGrafico[index] = acumulado
        })

        vue.acumulado = acumulado
        vue.rentabilidade = (1 - Number(totalCusto) / Number(acumulado)) * 100
        vue.valorMedioPedidos = vue.vendasGrafico[vue.vendasGrafico.length -1] / vue.quantidadePedidos
        vue.tendencia = vue.dataTable[vue.dataTable.length - 1].tendencia

        if (vue.acumulado > vue.metas.vendas) {
          vue.metas.meta_atingida = 100.00
        } else {
          vue.metas.meta_atingida = vue.acumulado / vue.metas.vendas * 100
        }
        vue.loadGraficos()
      }, loadGraficos () {
        this.$nextTick(function () {
          var pieChartCanvas = document.getElementById('venda').getContext('2d')
          var pieConfig = {
            type: 'line',
            data : {
              labels: this.labels,
              datasets: [
              {
                label: 'Acumulado',
                backgroundColor: 'rgba(0, 99, 200, 0.2)',
                borderColor: 'rgba(255, 255, 255, 0.2)',

                borderWidth: 1,
                data: this.vendasGrafico,
              }
              ]
            },
            options: {
              responsive: true,
              maintainAspectRatio: true,
              legend: {
                position: 'bottom',
                display: false
              }
            }
          }

            new Chart(pieChartCanvas, pieConfig) // eslint-disable-line no-new

            var tendencia = document.getElementById('tendencia').getContext('2d')
            var pieConfig = {
              type: 'line',
              data : {
                labels: this.labels,
                datasets: [
                {
                  label: 'Tendencia',
                  borderWidth: 1,
                  data: this.tendenciaGrafico,
                }
                ]
              },
              options: {
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                  position: 'bottom',
                  display: false
                }
              }
            }

            new Chart(tendencia, pieConfig) // eslint-disable-line no-new

          })
      },
      loadData() {
        const vue = this
        var date = new Date()

        var ano = date.getFullYear();
        var mes = (date.getMonth() + 1)

        if (mes < 10) {
          mes = '0' + mes
        }

        return ano + '-' + mes;
      }
    },
    mounted: function () {
      this.loadColaboradores()
      this.mes = this.loadData()
    },
    computed: {
      metaDia: function () {
        return Number(this.metas.vendas) / Number(this.lastDay)
      },
      filterColaboradoresSelecionados () {
        const vue = this
        let colaboradorSelecionados
        if (vue.colaboradores) {
          colaboradorSelecionados = _.reject(vue.colaboradores,
          function(colab){
              return !colab.selecionado
          });
        }
        return colaboradorSelecionados
      },
      filteredColaboradores() {
        const vue = this
        if (vue.colaboradores){
          let filtrados = vue.colaboradores.filter(function(colaborador, index){
            if(vue.search != null)
              return colaborador.nome ? colaborador.nome.toLowerCase().indexOf(vue.search.toLowerCase()) !== -1 : false
          })

          return _.sortBy(filtrados, function(filtrado){ return !filtrado.selecionado; });
        }
      }
    },watch: {
      todosColaboradores: function (todas) {
        this.selecionarColaborador();
      },
      colaboradores: {
        handler: function(val, oldVal) {
          if(this.mes){
            if(!this.getIdsColaboradores()){
              this.dataTable = ''
            }
          }
        },
        deep: true
      }
    }
  }
</script>

<style scoped>
 .box-info{
  height: 120px;
 }
.p {
  margin: 20px;
}

  input[type=checkbox] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
  }

  .scroll {
    height: 350px;
    overflow-x: hidden;
  }
</style>
