<template>
  <div class="card is-fullwidth container">
  <section class="hero">
    <div class="hero-head">
      <nav class="panel">
        <div class="panel-block">
          <div class="columns">
            <div class="column is-half is-offset-one-quarter">
            <label class="nav-item">Localizar Item &nbsp </label>
            <p class="control has-addons">
              <label class="button" style="z-index: 0" tabindex="4">
                Somente Código &nbsp
                <input class="checkbox" style="z-index: 1000;" v-model="isCodigo" type="checkbox">
              </label>
              <input class="input is-expanded" tabindex="1" type="text" v-model="busca" placeholder="Nome, Desc, Id, Grupo, Seg..." @keyup.enter="buscar">
              <a class="button is-info" tabindex="2" @click.prevent="buscar">
                <i class="fa fa-search" tabindex="3"></i>&nbsp Buscar
              </a>
            </p>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div style="overflow-x:auto;">
        <table class="table">
          <thead>
            <!-- <th>Sel</th> -->
            <th>Código</th>
            <th>Referência</th>
            <th>Alterado</th>
            <th>Tipo</th>
            <th>Descrição Do Item</th>
            <th>Marca</th>
            <th>Emb</th>
            <th>Estoque</th>
            <th>Est. Total</th>
            <th>Un.</th>
            <th>1 - Geral R$</th>
            <th>Cod. Personal</th>
          </thead>
          <tbody>
            <tr v-for="item in itens">
              <!-- <td>{{ item.sel }}</td> -->
              <td>{{ item.id }}</td>
              <td>{{ item.refer }}</td>
              <td>{{ item.DATA }}</td>
              <td>{{ item.tipo }}</td>
              <td>{{ item.descr }}</td>
              <td>{{ item.marca }}</td>
              <td class="has-text-right">{{ item.emb }}</td>
              <td class="has-text-right">{{ item.estoq }}</td>
              <td class="has-text-right">{{ item.est_emp }}</td>
              <td>{{ item.un }}</td>
              <td class="has-text-right">{{ item.tab1 | currency }}</td>
              <td>{{ item.cod_pers }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  </div>
</template>

<script>
import config from '../../config.js'
/* global swal */
export default {
  name: 'Itens',
  // components: {
  //   Cleave
  // }
  data: function () {
    return {
      busca: null,
      isCodigo: false,
      itens: []
    }
  },
  methods: {
    buscar () {
      const vue = this
      if (vue.isCodigo) {
        vue.busca = vue.busca ? parseInt(vue.busca) : vue.busca
      }
      if (!vue.busca || vue.busca.length < 3) {
        swal({
          title: 'Atenção',
          text: 'A busca deve conter mais de 3 caracteres'
        })
        vue.busca = null
        return false
      }

      var dataForm = {
        busca: vue.busca,
        excluidos: vue.excluidos,
        id: Number.isInteger(vue.busca) ? vue.busca : 0
      }
      vue.busca = null
      vue.isCodigo = false
      vue.$http.post(config.API + 'item/busca', dataForm)
      .then((response) => {
        vue.itens = response.data
      }, (response) => {
      })
    }
  }
}
</script>

<style scoped>
.button {
  margin: 5px 0 0;
}
.control .button {
  margin: inherit;
}
.panel {
  border: none;
  border-bottom:1px solid #dbdbdb;
}
</style>
