<template>
  <section class="app-main">
    <div class="container is-fluid is-marginless app-content">
      <levelbar v-if="login"></levelbar>
      <transition
        mode="out-in"
        enter-active-class="fadeIn"
        leave-active-class="fadeOut"
        appear>
        <router-view class="animated"></router-view>
      </transition>
    </div>
  </section>
</template>

<script>
import Levelbar from './Levelbar'

export default {
  components: {
    Levelbar
  },
  mounted: function () {
  },
  computed: {
    login () {
      return ['/login', '/Login'].indexOf(this.$route.path) === -1
    }
  }
}
</script>

<style lang="scss">
@import '~bulma/sass/utilities/variables';
@import '~bulma/sass/utilities/mixins';

table, th, td {
  white-space: nowrap;
}
th {
  text-align: center;
}

.app-main {
  padding-top: 50px;
  margin-left: 180px;

  transform: translate3d(0, 0, 0);

  @include mobile() {
    margin-left: 0;
  }

}

.app-content {
  padding: 20px;
}
</style>
